<!DOCTYPE html>
<html>

<head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
    <h1>Triceratop</h1>
    <p>The Triceratops was a dinosaur that look @Model.Adjective because it had 3 @Model.PluralNoun on top of it's head.
        It used there to stay safe from enemies like @Model.NounTwo. It was a @Model.AdjectiveTwo dinosaur, but not the
        biggest. It was only 10 feet tall. That is not even as tall as 2 @Model.NounThree put together. It was on 4 legs
        that were as short as a @Model.NounFour.</p>
</body>

</html>